<ol class="breadcrumb">
  <li><%= link_to "Hosts", hosts_path %></li>
  <li class="active"><%= link_to @host.name, host_path(@host) %></li>
</ol>

<h2><%= "GTFS Host Summary"%></h2>

<%= render :partial => "summary_table", :locals => {:hosts => [@host]} %>

<h3><%= "Feeds"%></h3>

<%= render :partial => "hosted_feeds/summary_table", :locals => {:feeds => @host.feeds} %>
