<% content_for(:breadcrumb_nav) do %>
  <ol class="breadcrumb">
    <li><%= link_to "Feeds", feeds_path %></li>
    <li class="active"><%= link_to @feed.name, feed_path(@feed) %></li>
  </ol>
<% end %>

<h3><%= "Feed Summary"%></h3>

<%= render :partial => "summary_table", :locals => {:feeds => [@feed]} %>

<h3><%= "Feed Details"%></h3>

<h4><%= "Agencies"%></h4>

<%= render :partial => "agencies/summary_table", :locals => {:agencies => @feed.agencies} %>
