<% content_for(:breadcrumb_nav) do %>
  <ol class="breadcrumb">
    <li><%= link_to "Hosts", hosts_path %></li>
    <li><%= link_to @stop.host_name, host_path(@stop.host_id) %></li>
    <li><%= link_to "Feeds", hosted_feeds_path(@stop.host_id) %></li>
    <li><%= link_to @stop.feed_name, hosted_feed_path(:host_id => @stop.host_id, :feed_id => @stop.feed_id) %></li>
    <li><%= link_to "Versions", hosted_feed_versions_path(:feed_id => @stop.feed_id) %></li>
    <li><%= link_to @stop.version_name, hosted_feed_version_path(:host_id => @stop.host_id, :feed_id => @stop.feed_id, :version_id => @stop.version_id) %></li>
    <li><%= link_to "Stops", stop_versions_path(:version_id => @stop.version_id) %></li>
    <li class="active"><%= link_to @stop.name, stop_version_path(:stop_id => @stop.id) %></li>
  </ol>
<% end %>

<h2>Stop Summary</h2>

<%= render :partial => "stop_versions/summary_table", :locals => {:stops => [@stop]} %>

<h3>Station Map</h3>

<%= render :partial => "stop_versions/map" %>

<h3>Departures</h3>

<%= render :partial => "stop_time_versions/upcoming_departures_table", :locals => {:stop_times => @stop.stop_times.upcoming_departures.limit(100) }%>

<!--h3>Arrivals</h3-->

<%#= render :partial => "stop_time_versions/upcoming_arrivals_table", :locals => {:stop_times => @stop.stop_times.upcoming_arrivals.limit(10) } %>
