<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <!--th>Identifier</th-->
        <th>Agency Name</th>
        <th>Agency Url</th>
        <th>Agency Timezone</th>
        <th>Agency Language</th>
        <th>Agency Phone</th>
        <!--th>Fare Url</th-->
      </tr>
    </thead>
    <tbody>
      <% agencies.each do |agency| %>
      <tr>
        <!--td><%#= link_to "Agency ##{agency.id}", agency_path(agency) %></td-->
        <td><%= link_to agency.name, agency_path(:agency_id => agency.id) %></td>
        <td><%= link_to agency.url, :title => "Visit agency website at #{agency.url}" do %><%= truncate(agency.url, :length => 25) %> &nbsp; <i class="fa fa-external-link"></i><% end %></td>
        <td><%= agency.timezone %></td>
        <td><%= agency.lang %></td>
        <td><%= agency.phone %></td>
        <!--td><%#= agency.fare_url %></td-->
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
