<h2>Transit Agencies</h2>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Identifier</th>
        <th>Name</th>
        <th>Timezone</th>
        <th>Language</th>
        <th>Phone</th>
        <th>Fare Url</th>
      </tr>
    </thead>
    <tbody>
      <% @agencies.each do |agency| %>
      <tr>
        <th scope="row"><%= agency.id %></th>
        <td><%= link_to agency.name, agency_path(agency) %> <%= link_to agency.url, :title => "Visit agency website at #{agency.url}" do %><i class="fa fa-external-link"></i><% end %></td>
        <td><%= agency.timezone %></td>
        <td><%= agency.lang %></td>
        <td><%= agency.phone %></td>
        <td><%= agency.fare_url %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
