<!DOCTYPE html>
<html>
<head>
  <title>BranfordStation</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:css_head) %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="width:75em; margin:0 auto; padding: 0 10;">
  <%= yield(:breadcrumb_nav) %>
  <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
  <%= yield %>
  <hr>
  <footer style="margin-bottom:2em;">
    <p><%=  link_to "view", "/" %>&nbsp;|&nbsp;<%=  link_to "source", "https://github.com/s2t2/branford_station" %> </p>
  </footer>
</div>
<%= yield(:js_footer) %>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>
